@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Lora:ital@1&family=PT+Serif&family=Roboto+Slab&family=Satisfy&family=Viga&family=Vollkorn&display=swap");
#navbarcontainer {
  display: flex;
  background-color: black;
  color: white;
  height: 60px;
  z-index: 444;
  font-family: itim;
}

.navbox1 {
  height: 60px;
  width: 30vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.name {
  font-size: 24px;
  font-family: itim;
  font-weight: 600;
  text-indent: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.name:hover {
  color: #7843e9;
}
.navbox2 {
  height: 60px;
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6rem;
  z-index: 20;
}
.navbutton {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.navbutton:hover {
  color: #7843e9;
}
.navbuttonlast {
  cursor: pointer;
  font-size: 20px;
  padding-right: 20px;
  font-weight: 500;
}
.navbuttonlast:hover {
  color: #7843e9;
}
.hambox {
  display: none;
}
.hammer {
  display: none;
}
@media screen and (max-width: 920px) {
  .name {
    font-size: 22px;
    text-indent: 2px;
  }
}
@media screen and (max-width: 768px) {
  #navbarcontainer {
    display: flex;
    background-color: #020202;
    height: 60px;
    position: absolute;
  }
  .navbox1 {
    height: 60px;
    width: 75vw;
    /* margin-left: 50px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .name {
    font-size: 22px;
    font-family: lobster;
    text-indent: 2px;
  }
  .navbox2 {
    display: none;
  }
  .hambox {
    display: block;
    width: 25vw;
    filter: invert(1);
    float: right;
  }
  .hammer {
    background-color: #020202;
    position: fixed;
    top: 60px;
    height: auto;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    animation: hamburg 0.2s ease-in-out;
    z-index: 1000;
  }

  @keyframes hamburg {
    from {
      transform: scaleX(0%);
    }
    to {
      transform: scaleY(100%);
    }
  }

  .home,
  .projects,
  .about,
  .contact {
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, "Times New Roman", Times;
    padding: 35px;
  }
}
