.projectcontainer{
    height: auto;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projectbox1{
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.svggithub{
    background-color: #7843e9;
    color: white;
    padding: 5px;
    border-radius: 50px;
    height: 40px;
    margin: 0px 5px 0px 5px;
}
.svg{
    background-color:  #7843e9;
    color: white;
    padding: 5px;
    border-radius: 50px;
    height: 40px;
    margin: 0px 5px 0px 5px;

}
.project1title
{
    margin-top: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.project1desc{
    width: 60vw;
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
}
.projectbox2{
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project2{
    height: 520px;
    width: 700px;
    background-color: white;
    overflow: hidden;
}
.project2desc{
    height: 520px;
    width: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project2title{
    font-size: 32px;
    font-family: fantasy;
}

.proj1{
    height: 520px;
    width: 700px;
   transition: all ease-in-out 1s;
   cursor: pointer;
}
.proj1:hover{
transform: scale(1.02);
}
@media screen and (max-width:768px) {
    .proj1{
        height: 520px;
        width: 100%;
    }  
    .project1desc{
        width: 100%;
        text-align: center;
        font-size: 22px;
        margin-bottom: 50px;
    } 
}